@import "~govuk-frontend/all.scss";


.button--secondary {
  background-color: govuk-colour("grey-3");
  box-shadow: 0 $govuk-border-width-form-element 0 darken(govuk-colour("grey-3"), 40%);

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color:  govuk-colour("black");
  }

  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: darken( govuk-colour("grey-3"), 10%);
    }
  }

  &:hover,
  &:focus {
    background-color: darken( govuk-colour("grey-3"), 10%);
  }
}

.datagrid-table td {
  vertical-align: top;
  width: 100%;
}


.formio-button-remove-row {
  margin-left: 15px;
  padding-bottom: 5px;
  padding-top: 7px;
  margin-top: 15px;
}

.govuk-form-group .govuk-details {
  margin-top: 30px;
}

.datagrid-govuk-label .datagrid-table th  {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  display: block;
  margin-bottom: govuk-spacing(1);
}

