@import "~semantic-ui-css/semantic.css";

.center {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.center-context {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center
}
.loader {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  margin-left: -30px;
  margin-top: -30px;
  z-index: 10000;
  display: inline-block;
  border: none !important;
  border-top: none !important;
  border-radius: 0 !important;
  width: 0 !important;
  height: 0 !important;
  animation: none !important
}

.govuk-form-group .govuk-details {
  margin-top: 30px;
}

.full-width-field .datagrid-table td {
  vertical-align: top;
  width: 100%;
}

.datagrid-govuk-label .datagrid-table th  {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  display: block;
  margin-bottom: govuk-spacing(1);
}

.formio-button-remove-row {
  margin-left: 15px;
  padding-bottom: 5px;
  padding-top: 7px;
}
